extends layout

block content
  h1 API REST
  p Bienvenue sur cette API Rest réalisée avec node.js et Express.js.
  p Voici les routes disponibles :
  ul 
  li /freelances
  li /survey
  li /results/?a1={answer1}&a2={answer2}&a3={answer3}...
