doctype html
html
  head
    title= title
    link(rel='icon', type='image/svg', href= 'http://localhost:8000/images/logo.svg' )
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
